<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title">Todo List</h1>
                </a>
            </div>
          
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            Importer
                        </a>
                        <a class="button is-link">
                            <strong>Exporter</strong>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <article class="box content">
            <h2>Créer une tâche</h2>
            <form action="/task" method="POST">
                <div class="field">
                    <label class="label" for="task">Nom de la tâche</label>
                </div>
                <div>
                    <input class="input" type="text" name="task" id="task" placeholder="Entrez le nom de la nouvelle tâche" autofocus required>
                </div>
                <br>
                <div class="field is-grouped">
                    <div class="control">
                        <input class="button is-link is-light" type="reset" value="Effacer">
                    </div>
                    <div class="control">
                        <input class="button is-link" type="submit" value="Ajouter">
                    </div>
                </div>
            </form>
        </article>
        <hr>
        <article class="box content">
            <h2>Liste des tâches</h2>
            <table>
                <% tasks.forEach((task, idx)=> { %>
                    <tr>
                        <% if (task.done) { %>
                            <td>
                                <s>
                                    <%= task.title %>
                                </s>
                            </td>
                            <td>
                                <a class="button is-danger is-light is-b-1" href="/task/<%= idx %>/delete/">Supprimer</a>
                            </td>
                        <% } else { %>
                            <td>
                                <%= task.title %>
                            </td>
                            <td>
                                <a class="button is-link is-light is-b-1" href="/task/<%= idx %>/done/">Marquer comme terminée</a>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
            </table>
        </article>
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                © Copyright <%= actualYear %>  <a href="https://sebastiencozedev.github.io/e-portfolio/" target="_blank" rel="noopener noreferrer">Coze Sébastien</a>
            </p>
        </div>
      </footer>
</body>

</html>